@tailwind base;
@tailwind components;
@tailwind utilities;

.ticker-wrap {
    width: 100%;
    overflow: hidden;
}

.ticker-move {
    display: inline-block;
    white-space: nowrap;
    animation: ticker 15s linear infinite;
}

.ticker-move:hover {
    animation-play-state: paused;
}

@keyframes ticker {
    0% { transform: translateX(100vw); } 
    100% { transform: translateX(-100%); } 
}